{
  "name": "@midaz/seer-cli-{{OS}}-{{ARCH}}",
  "version": "{{VERSION}}",
  "description": "Platform binary for @midaz/seer-cli ({{OS}}-{{ARCH}})",
  "os": [
    "{{OS}}"
  ],
  "cpu": [
    "{{ARCH}}"
  ],
  "files": [
    "bin/"
  ],
  "publishConfig": {
    "registry": "{{REGISTRY}}"
  },
  "preferUnplugged": true,
  "private": false
}
