{
  "name": "@midaz/seer-cli-{{OS}}-{{ARCH}}",
  "version": "{{VERSION}}",
  "description": "Platform binary for @midaz/seer-cli ({{OS}}-{{ARCH}})",
  "os": [
    "{{OS}}"
  ],
  "cpu": [
    "{{ARCH}}"
  ],
  "files": [
    "bin/"
  ],
  "repository": {
    "type": "git",
    "url": "https://github.com/chris-xu0321/Midaz-cli.git"
  },
  "publishConfig": {
    "registry": "{{REGISTRY}}"
  },
  "preferUnplugged": true,
  "private": false
}
